.version.giftcard /* version checker */
{
	color: #00001E;
	background-color: #567B06;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#pu565
{
	width: 0.01px;
	margin-left: 232px;
}

#u565
{
	z-index: 55;
	width: 245px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#u570
{
	z-index: 57;
	width: 341px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u575
{
	z-index: 59;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 245px;
}

#u553-53
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 175px;
	margin-top: 55px;
	position: relative;
}

body
{
	position: relative;
	min-width: 900px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

